// ======================
// 配色
// ======================

@import "../fonts/icomoon/variables";

// 基本颜色
$black: hsl(0, 0%, 4%); //dark
$black-bis: hsl(0, 0%, 7%);
$black-ter: hsl(0, 0%, 14%);

$grey-darker: hsl(0, 0%, 21%); //gray-900
$grey-dark: hsl(0, 0%, 29%); //gray-800
$grey: hsl(0, 0%, 48%); //gray-700
$grey-light: hsl(0, 0%, 71%); //gray-600
$grey-lighter: hsl(0, 0%, 86%); //gray-500

$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$orange: #e53238; //red-600
$yellow: #f5af02;
$green: #86b817;
$turquoise: hsl(171, 100%, 41%);
$cyan: hsl(204, 86%, 53%);
$blue: #0064d2;
$purple: hsl(271, 100%, 71%);
$red: #e53238;

// 使用颜色
$primary: #004178;
$secondary: $yellow;
$embellishment: $orange;

$light: $white-ter;
$dark: $grey-darker;

$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;
$link: $primary;

$body-background-color: rgba(31, 99, 209, 0.02);
$highlight: #333;




// ======================
// 文字颜色
// ======================
$text-color: #383838;
$text-dark: #000;
$text-light: #666;
$text-lighter: #aaa;
$text-strong-color: 0;
$text-mark-color: #fff;
$text-mark-background-color: #ff0;
$text-mute-color: #bbb;

$text-400: #fff;
$text-base: $text-400;

$text-300: $text-color;
$text-500: $text-color;
$text-600: $text-color;
$text-700: $text-color;


// ======================
// 背景颜色
// ======================
$background: #fff;
$bg-400: $background;
$bg-base: $bg-400;

$bg-300: lighten($bg-400, 5%);
$bg-500: darken($bg-400, 5%);
$bg-600: darken($bg-400, 10%);
$bg-700: darken($bg-400, 15%);

$bg-highlight: $background;


// ======================
// 边框颜色
// ======================
$border: #222;
$border-400: $border;
$border-base: $border-400;

$border-300: lighten($border, 5%);
$border-500: darken($border, 5%);
$border-600: darken($border, 10%);
$border-700: darken($border, 15%);


// ======================
// 字体家族
// ======================
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: Monaco, Consolas, "Courier New", monospace;
$family-serif: "Noto Serif", Optima, Georgia, "Times New Roman", Times, serif;

// ======================
// 元素尺寸
// ======================
$dimensions: 64 128;
$radius: 3px;
$radius-rounded: 100px;

// ======================
// 宽度
// ======================
//
$gap: 32px;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$phone: $sm;
$tablet: $md;
$desktop: $lg;
$widescreen: $xl;

// 黄金比例
$bronze: 1.333;
$sliver: 1.414;
$golden: 1.618;
$platinum: 1.732;
