@media screen and (min-width: 1360px) {
    .postbox {
        .cf-container__fields {
            width: calc(100% - 225px);
        }
    }

    .carbon-theme-options {
        .cf-container__fields {
            width: calc(100% - 225px);
        }
    }
}

.cf-container-term-meta {
    .cf-container__tabs {
        padding: 0;
        background: none;
    }

    .cf-container__tabs-item {
        margin: 0 -1px 0 0;
    }
}

.cf-container {
    .cf-text__input {
        width: auto !important;
        min-width: 750px;
    }

    .cf-datetime__input {
        flex: 0;
    }
}

.cf-container .cf-field {
    border: 0 !important;
    display: flex;

    .cf-field__head {
        border-top: 0;
        padding-top: 0;
        flex-basis: 96px;
        margin-right: 12px;
        flex-shrink: 0;
    }

    &.cf-html {
        .cf-field__head {
            display: none;
        }

        .cf-field__body {
            border-top: 3px solid #ccc;
            background: #dcdcde;
        }
    }
}

.postbox,
.carbon-theme-options {
    &.carbon-box {
        fieldset {
            background: #fbfbfc;
        }
    }

    .cf-container__tabs {
        padding: 0;
        border-bottom: 0;

        @media screen and (min-width: 1360px) {
            float: left;
            min-height: 500px;
        }

        @media screen and (min-width: 1360px) {
            width: 200px;
        }
    }

    .cf-container__tabs-item {
        flex-grow: 1;
        border: 0;
        margin: 0;
        border-bottom: 1px solid #eee;

        button {
            width: 100%;
        }

        @media screen and (min-width: 1360px) {
            width: 100%;
            button {
                padding: 12px;
                text-align: left;
                cursor: pointer;
            }
        }

        &:hover {
            button {
                background: #ddd;
            }
        }
    }

    .cf-container__tabs-item--current {
        background: #ddd;
    }

    .cf-container__fields {
        margin: 0;
        border-left: 1px solid #eee;
        padding: 12px;
        align-content: flex-start;

        @media screen and (min-width: 1360px) {
            float: left;
            min-height: 500px;
        }
    }

    .cf-container .cf-field {
        border-right: 0;
    }
}

.menu-item-settings .cf-container {
    .cf-field {
        border: 0;
        padding: 6px 0;
    }
}

.cf-radio-image .cf-radio__list-item {
    flex: 0 0 auto !important;
}


.cf-complex__group-body {
    .cf-field {
        padding: 12px !important;
    }
}

// .cf-container .cf-field{
//     padding: 0 !important;
//     margin: 12px;
// }
//
// .cf-field{
//     position: relative;
// }
//
// .cf-field__head{
//     border: 0!important;
// }
//
// .cf-field__label{
//     position: absolute;
//     background: #fff;
//     left: 10px;
//     z-index: 99;
//     top: -2px;
//     padding-bottom: 0 !important;
//     color: #666 !important;
//     font-weight: 400 !important;
// }
