@media screen and (min-width: 1360px) {
    .postbox {
        .cf-container__fields {
            width: calc(100% - 250px);
        }
    }

    .carbon-theme-options {
        .cf-container__fields {
            width: calc(100% - 250px);
        }
    }
}

.cf-container-term-meta {
    .cf-container__tabs {
        padding: 0;
        background: none;
    }

    .cf-container__tabs-item {
        margin: 0 -1px 0 0;
    }
}


.postbox,
.carbon-theme-options {
    &.carbon-box {
        fieldset {
            background: #fbfbfc;
        }
    }

    .cf-container__tabs {
        padding: 0;
        border-bottom: 0;

        @media screen and (min-width: 1360px) {
            float: left;
            min-height: 500px;
        }

        @media screen and (min-width: 1360px) {
            width: 200px;
        }
    }

    .cf-container__tabs-item {
        flex-grow: 1;
        border: 0;
        margin: 0;
        border-bottom: 1px solid #eee;

        button {
            width: 100%;
        }

        @media screen and (min-width: 1360px) {
            width: 100%;
            button {
                padding: 12px;
                text-align: left;
                cursor: pointer;
            }
        }

        &:hover {
            button {
                background: #ddd;
            }
        }
    }

    .cf-container__tabs-item--current {
        background: #ddd;
    }

    .cf-container__fields {
        margin: 0;
        border-left: 1px solid #eee;
        padding: 8px 24px;
        align-content: flex-start;

        @media screen and (min-width: 1360px) {
            float: left;
            min-height: 500px;
        }
    }

    .cf-container .cf-field {
        padding: 16px 0;
        border-right: 0;
    }
}

.cf-container .cf-field.cf-field--has-width {
    border-top-width: 1px !important;
}

.menu-item-settings .cf-container {
    .cf-field {
        border: 0;
        padding: 6px 0;
    }
}

.cf-radio-image .cf-radio__list-item {
    flex: 0 0 auto !important;
}


.cf-complex__group-body {
    .cf-field {
        padding: 12px !important;
    }
}

.cf-field--has-width + .cf-field--has-width {
    padding-left: 16px !important;
}
