$bg: $bg-base;
$text-color: $text-base;
$text-hover-color: darken($text-base, 5%);

.widget{
    &-title{
        @apply text-lg font-medium mb-4;
    }

    li{
        @apply text-sm leading-relaxed leading-6;
        a{
            @apply inline-block;
            color: $text-color;

            &:hover{
                color: $text-hover-color;
            }
        }
    }
}


.o-mini-widgets{
    .wp-block-columns{
        @apply m-0;
    }
}

.content__secondary{
    .widget{
        @apply mb-6;
    }
}
